<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.DronewareUserTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddDroneUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddDrone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateWMSRequestMission</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddUserCreatedMission</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tests.DronewareAdminTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddOrg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddSMTP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddWMSConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddWarehouse</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddPTCICSConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
