<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DronewareSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:55:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DronewareAdminTest.TestSetup(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, int, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.DronewareAdminTest@536aaa8d]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>20/02/22 16:55:54</td>   <td>16139</td> <td>&nbsp;</td><td title="&gt;&gt;DronewareUserTest.TestSetup(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, int, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.DronewareUserTest@59e5ddf]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>20/02/22 16:56:12</td>   <td>33557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareUserTest.AddDrone(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:tests.DronewareUserTest@59e5ddf]">AddDrone</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>20/02/22 16:56:51</td>   <td>72596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareUserTest.AddDroneUser(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:tests.DronewareUserTest@59e5ddf]">AddDroneUser</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>20/02/22 16:56:51</td>   <td>72727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareUserTest.AddUserCreatedMission(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.DronewareUserTest@59e5ddf]">AddUserCreatedMission</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>20/02/22 16:56:51</td>   <td>72871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareUserTest.CreateWMSRequestMission(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:tests.DronewareUserTest@59e5ddf]">CreateWMSRequestMission</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:51</td>   <td>73012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareAdminTest.AddOrg(java.lang.String)[pri:1, instance:tests.DronewareAdminTest@536aaa8d]">AddOrg</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:51</td>   <td>73198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareAdminTest.AddWMSConfig(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:tests.DronewareAdminTest@536aaa8d]">AddWMSConfig</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:51</td>   <td>73282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareAdminTest.AddPTCICSConfig(java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.DronewareAdminTest@536aaa8d]">AddPTCICSConfig</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:51</td>   <td>73295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareAdminTest.AddPTCICSConfig(java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.DronewareAdminTest@536aaa8d]">AddPTCICSConfig</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:52</td>   <td>73385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareAdminTest.AddSMTP(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:tests.DronewareAdminTest@536aaa8d]">AddSMTP</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:52</td>   <td>73457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareAdminTest.AddUser(java.lang.String, java.lang.String)[pri:5, instance:tests.DronewareAdminTest@536aaa8d]">AddUser</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:52</td>   <td>73583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareAdminTest.AddWarehouse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:6, instance:tests.DronewareAdminTest@536aaa8d]">AddWarehouse</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="85a98f">  <td>20/02/22 16:56:54</td>   <td>75598</td> <td>&nbsp;</td><td title="&lt;&lt;DronewareAdminTest.TearDown()[pri:0, instance:tests.DronewareAdminTest@536aaa8d]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>20/02/22 16:56:54</td>   <td>75607</td> <td>&nbsp;</td><td title="&lt;&lt;DronewareUserTest.TearDown()[pri:0, instance:tests.DronewareUserTest@59e5ddf]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
